.centerDiv {
    margin: auto;
    width: 70%;
    /*border: 3px solid green;*/
    padding: 10px;
}

.alignTextCenter {
  text-align: center;
}

.paddingLeft {
  padding-left: 300px;
}

.indent {
  padding-left: 5em;
}

/*Credit: http://stackoverflow.com/questions/36034504/how-to-disable-styling-on-pre-in-bootstrap*/
pre {
  border: 0;
  background-color: transparent;}
}

#headerForm{
  padding-left: : 30px;
}

#userLookupWordInput{
  padding-left: 59px;
}

#mainErroMess{
  padding-left: 150px;
}
