<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="animate.min.css">
  <link rel="stylesheet" type="text/css" href="stemForm.css">
  <title>Sean's Way to Stem</title>
  <base href="/">
</head>

<body ng-app="stemmer">
  <!-- Heading -->
  <div id="headerText" class="centerDiv">
    <h1 class="alignTextCenter">Let's get stemming!</h1>
    <h3 class="alignTextCenter">Please enter a URL or word below</h3>
  </div>
  <!-- Static Action Form -->
  <div ng-controller='mainCtrl'>
    <form class="">
      <div class="centerDiv input-group">
          <!-- <div class="input-group row"> -->
            <input name="userURL"
                   type="text"
                   name="urlInput"
                   class="form-control"
                   aria-label="Input url that links to word list to be stemmed"
                   ng-model="userURLInput"
                   ng-change="resetValidFlag()"
            >
            <span class="input-group-btn"><button class="btn btn-primary" ng-click="validateURLInput(userURLInput)">Stem WordList</button></span>

          <!-- </div> -->
      </div>
      <div class="centerDiv form-group row">
        <div class="col-xs-8">
          <div class="input-group">
            <input name="userLookupWord"
                   type="text"
                   name="wordInput"
                   class="form-control"
                   aria-label="Input url that links to word list to be stemmed"
                   ng-model="userWordInput"
                   ng-change="resetValidFlag()"
            >
            <span class="input-group-btn"><button class="btn btn-primary" ng-click="validateWordInput(userWordInput)">Lookup Word</button></span>
          </div>
        </div>
      </div>
      <div class="alert alert-danger animate bounce" ng-if="invalid">
        <pre>'{{errorText}}'</pre>
      </div>
  </form>
</div>

  <div ui-view></div>

  <!-- Framework Scripts -->
  <script src="angular.min.js"></script>
  <script src="release/angular-ui-router.min.js"></script>
  <script src="dist/jquery.min.js"></script>
  <script src="dist/js/bootstrap.min.js"></script>

  <!-- Global Content -->
  <script type="text/javascript" src="content/errorMessages.js"></script>

  <!-- Util Scripts -->
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="validator/inputValidator.js"></script>
  <script type="text/javascript" src="util/cors.js"></script>
  <script type="text/javascript" src="controller/mainCtrl.js"></script>
  <script type="text/javascript" src="controller/stemWord.js"></script>
</body>

</html>
